#hello {
    font-weight: bold;
    color: white;
    text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,1);
    text-align: center;
    font-size: 40px;
  }
  body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    text-align: center;
  }
  #mypic{
    width: 210px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 20px;
  }