html, body{
    margin: 0px;
    padding: 0px;
}
.first{
    font-size: 500%;
    font-family: sans-serif;
    color:white;
}
h2
{   font-family: sans-serif;
    color: white;
    Font-size: 200%;
    border: 1px white solid;
    width: 400px;
    padding: 10px;  
    text-align: center;  }
button{
    height: 30px;
    background-color:burlywood;
}

button:hover{
   background-color:rgba(165, 42, 42, 0.795);
}
ul a{
    text-decoration: none;
    color:white;
    font-size: 30px;
}

li:hover{
    background-color:#4d2a00;
    box-shadow: 5px 5px 10px .3px;
    font-size: 2em;

    
}

ul{
    list-style-type: none;
    margin-top: 60px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    height: 80px;
 
    }

nav{
    Padding:0px;
    margin-top:250px;
    width: 100%;
}

.Gallery{
    border:1px solid black;
    margin: 10px;
    box-shadow: 5px 5px 5px .2px;
    width:200px;

}

.Gallery img{
    width: 100%;
    height:150px;
    border-bottom:1px solid black;

}

.Gallery:hover{
    border: 1px solid black;
    box-shadow: 10px 10px 20px .3px;
}

header{
    display: flex;
    flex-flow: column wrap;
    background-image: url(../IMG/jungle.jpg);
    height: 42em;
    justify-content: center;
    align-items: center;
    
}


footer p{
    text-align: center;
    padding: 4px;
}


ul li{
    border: 1px solid white;
    background-color:#cc7000;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 10px 10px 20px .3px;

}
.li-img{
background-color: white;    
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #804000;

}
h3{
    margin: 0px;
    color: black;
}


p{
    text-align: justify;
    padding: 5px;
    margin:0px;
}
h2{
    padding-left: 10px;
    padding-top: 10px;
    margin:0px;
}
.state
{
    margin: 0px;
    color: grey;
    padding-left:10px;
}
hr{
    width: 100%;
}
.center{
    width:200%; 
}

aside{
    width: 100%;
}
p.by{
    padding: 0px;
}
footer div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gallery-heading{
    width: 100%;
    margin: 30px;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    background-color: #cc7000;
    color: white;
    font-size: 30px;
}
.Gallery p{
    background-color: white;
    margin: 0px;
}
.fblogo{
    width: 3%;
    position: absolute;
    padding: 5px;
}

.insta{
    width:3%;
    position: absolute;
    padding: 5px;
  
}
.logo{
    display: flex;
    width: 96%;
    justify-content: space-between;
}
@media only screen and (min-width:1300px) {
    header {
        height: 62em;
              }
    nav{
        margin-top:550px;
    }
    
}
@media only screen and (max-width: 600px){
    ul{
        flex-direction: column;
    }
    nav{
        height: 450px;
       
        
    }
    li.pd,.edu,.exp,.skil,.lan,.con{
        width: 92%;
       
    }
    li:hover{
        width:14.5em;
    }
    img.fblogo{
        width: 40px;
    }
    h1.first{
        font-size: 3em;
        background-color: rgba(0, 0, 0, 0.233);
        border-radius: 25px;
       
    }
    img.insta{
        width: 40px;
    }
    .logo{
        width: 89%;
    }
    header{
        height: 62em;
        width:100%;
    }
    h2{
        background-color: rgba(0, 0, 0, 0.548);
    }
}